<footer>
    <h3>Page Footer</h3>
    <ul>
        <% if(locals.user) { %>
            <li id="home-link">
                <a href="/" class="hover"> Home </a> 
            </li>
            <li id="profile-link">
                <a href="/users/profile/<%= user.id %>" class="hover"> Profile </a>
            </li>
        <% } %>
    </ul>
</footer