    <header>
        <h2>Codeial</h2>
        <ul>
            <% if(locals.user) { %>
                <li>
                    <%= user.name %>
                </li>
                <li> 
                    <a href="/users/sign-out" class="hover">Sign Out</a>
                </li>
            <% } else{ %>
                <li>
                    <a href="/users/sign-in" class="hover">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up" class="hover">Sign Up</a>
                </li>
            <% } %>
        </ul>
    </header>