<link rel="stylesheet" href="/css/sign_in.css">

<div id="sign-in-form" class="flex">
    <h1>Reset-Password</h1>

    <form action="/users/reset_password" method="post" class="flex" id="form-sign-in">
        <h6 style="text-decoration: underline;">Check your Mail for the Reset Token</h6>
        <input type="text" name="token_id" id="token_id" placeholder="Enter Reset Token-id..." required class="custom-input">
        <input type="password" name="password" id="password" placeholder="New Password..."required class="custom-input">
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password..." required class="custom-input">
    
        <input type="submit" value="Reset Password">
    </form>
</div>

<script> 

</script>