<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Your Name" id="name" required>
    <input type="email" name="email" placeholder="Your Email" id="email" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <input type="password" name="confirm_password" id="Confirm Password" required>

    <input type="submit" value="Sign Up">

</form>

<p>
    <a href="/users/auth/google" target="_self">Google Sign In/Sign Up</a>
</p>