#home-container {
    display: flex;

    .hidden{
        display: none;
    }

    #feed-posts {
        width: 69%;
        padding-bottom: 60px;
        border-right: 1.5px dashed #000;
    }

    #user-friends {
        width: 29%;
        padding: 10px;
        height: 100%;
    }

    .posts-container{
        .comments-container{
            margin-top: 10px;
        }
    }

}