<div style="border: 2px solid #000; width:90%; margin-left: 2.5%;height: 400px; background-color: rgb(200, 200, 200);">
    <h1 style="color: darkblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">Hi <%= comment.user.name %>!</h1>
    <br> <br>
    <p style="font-size: medium; color:black; text-align: justify; word-break: break-all; padding: 2px 4px;">Your comment('<%=comment.content%>')was added sucessfully.</p>
</div>