#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 69%;
    padding: 10px;
    border-right: 1.5px dashed #000; }
  #home-container #user-friends {
    width: 29%;
    padding: 10px;
    height: 100%; }
