#home-container {
  display: flex; }
  #home-container .hidden {
    display: none; }
  #home-container #feed-posts {
    width: 69%;
    margin: .1em auto;
    padding-bottom: 60px; }
  #home-container #user-friends {
    width: 25%;
    margin: 0.5em auto;
    height: 100%;
    border-left: 1.5px dashed #000; }
  #home-container #user-friends p {
    display: flex;
    justify-content: center; }
  #home-container .posts-container .comments-container {
    margin-top: 10px; }
